.main {
  background-color: var(--primary-color);
  width: 100vw;
  margin-top: 3rem;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.heroInfo {
  width: 30%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
}

.heroInfoTitle {
  font-family: "Staatliches", sans-serif;
  font-size: 3rem;
  color: var(--highlights-color);
  line-height: 2.9rem;
  overflow-y: hidden;
}

.heroInfoText {
  width: 70%;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.heroInfoSocials {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.heroSocialIconLink {
  text-decoration: none;
  color: var(--secondary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow-y: hidden;
}

.heroSocialIcon {
  font-size: 52px;
  transition: 0.15s ease-in-out;
}

.heroSocialIcon:hover {
  cursor: pointer;
  color: var(--highlights-color);
}

.name {
  position: relative;
  width: 70%;
  padding-right: 2.5rem;
  overflow-y: hidden;
  font-family: "Staatliches", sans-serif;
  font-size: 22rem;
  font-weight: 400;
  font-style: normal;
  line-height: 17rem;
  letter-spacing: -1.2rem;
  text-align: right;
  background: linear-gradient(45deg, #000 20%, #3f3f3f 45%, #000 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 1500% auto;
  text-shadow: -4px 4px 10px #00000015;
  animation: shine 8s infinite ease-in-out;
}

@keyframes shine {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}
