.navbar {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo {
    height: 90%;
    width: auto;
    overflow-y: hidden;
}

.logoImg {
    height: 100%;
    width: auto;
}

.navlinks {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    text-transform: uppercase;
}

.navlinksItem {
    font-weight: bold;
    font-size: 1rem;
    transition: 0.15s ease-in-out;
}

.navlinksItem:hover {
    color: var(--highlights-color);
    cursor: pointer;
}

.contactButton {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.8rem 1.4rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--highlights-color);
    font-size: 1rem;
    box-shadow: 2px 2px 4px #6969695e;
}

.contactButton:hover {
    cursor: pointer;
    background-color: var(--highlights-color-hover);
    transition: 0.2s ease-in-out;
}