@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
  --primary-color: #f0f0f0;
  --secondary-color: #000;
  --highlights-color: #f6d61c;
  --highlights-color-hover: #fcde38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}